image:
  repository: eu.gcr.io/gardener-project/gardener/extensions/shoot-cert-service
  tag: latest
  pullPolicy: IfNotPresent

leaderElection:
  resourceLock: leases

# settings for metrics, e.g. scraping by seed-prometheus
metrics:
  enableScraping: true
  # default metrics endpoint in controller-runtime
  port: 8080

resources: {}

vpa:
  enabled: true
  # resourcePolicy:
  #   minAllowed:
  #     cpu: 100m
  #     memory: 128Mi
  updatePolicy:
    updateMode: "Auto"

controllers:
  concurrentSyncs: 5
  ignoreOperationAnnotation: false
  healthcheck:
    concurrentSyncs: 5
  heartbeat: 
    renewIntervalSeconds: 30 

certificateConfig:
  # defaultRequestsPerDayQuota: 100
  defaultIssuer:
    restricted: true # restrict default issuer to any sub-domain of shoot.spec.dns.domain
    name: gardener
    acme:
      email: john.doe@example.com
      server: https://acme-v02.api.letsencrypt.org/directory
    # propagationTimeout: 60s # TTL for DNS01 challenges.
    # privateKey: | # Optional key for Let's Encrypt account.
    #   -----BEGIN BEGIN RSA PRIVATE KEY-----
    #   ...
    #   -----END RSA PRIVATE KEY-----

  #precheckNameservers: 8.8.8.8,8.8.4.4

  #caCertificates: | # optional custom CA certificates when using private ACME provider
  #  -----BEGIN CERTIFICATE-----
  #  ...
  #  -----END CERTIFICATE-----
  #
  #  -----BEGIN CERTIFICATE-----
  #  ...
  #  -----END CERTIFICATE-----

  shootIssuers:
    enabled: false # if true, allows to specify issuers in the shoot clusters

  deactivateAuthorizations: true # if true, enables flag --acme-deactivate-authorizations in cert-controller-manager

disableControllers: []

# imageVectorOverwrite: |
#   images:
#   - name: cert-management
#     sourceRepository: github.com/gardener/cert-management
#     repository: eu.gcr.io/gardener-project/cert-controller-manager
#     tag: "0.2.9"

gardener:
  version: ""
