{{- if not .Values.gardener.runtimeCluster.enabled }}
---
apiVersion: fluentbit.fluent.io/v1alpha2
kind: ClusterFilter
metadata:
  labels:
    fluentbit.gardener/type: "seed"
    fluentbit.gardener.cloud/type: "seed"
  name: cert-controller-manager-shoot-cert-management-seed
spec:
  filters:
  - parser:
      keyName: log
      parser: certmanager-parser
      reserveData: true
  match: kubernetes.*cert-controller-manager*shoot-cert-management-seed*
---
apiVersion: fluentbit.fluent.io/v1alpha2
kind: ClusterFilter
metadata:
  labels:
    fluentbit.gardener/type: "seed"
    fluentbit.gardener.cloud/type: "seed"
  name: cert-controller-manager-rewrite-tag
spec:
  filters:
  - rewriteTag:
      rules:
      - '$tag ^kubernetes\.var\.log\.containers\.(cert-controller-manager-.+?_.+?_shoot-cert-management-seed) user-exposed.$TAG true'
  match: kubernetes.*
---
{{- end }}