apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: shoot-cert-controller-manager
  namespace: {{ .Release.Namespace }}
  labels:
    prometheus: shoot
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "cert-management.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  endpoints:
  - port: metrics
    relabelings:
    - action: labelmap
      regex: __meta_kubernetes_service_label_(.+)
    metricRelabelings:
    - sourceLabels:
      - __name__
      action: keep
      regex: ^(cert_management_.+)$
  honorLabels: false
