---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "clusterRoleName" . }}
  labels:
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
rules:
- apiGroups:
  - "networking.k8s.io"
  resources:
  - ingresses
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - "gateway.networking.k8s.io"
  resources:
  - gateways
  - httproutes
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - "networking.istio.io"
  resources:
  - gateways
  - virtualservices
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - update
  - watch
  - create
  - delete
- apiGroups:
  - cert.gardener.cloud
  resources:
  - certificates
  - certificates/status
  - certificaterevocations
  - certificaterevocations/status
  {{- if .Values.shootIssuers.enabled }}
  - issuers
  - issuers/status
  {{- end }}
  verbs:
  - get
  - list
  - update
  - watch
  - create
  - delete
{{- if .Values.dnsChallengeOnShoot.enabled }}
- apiGroups:
  - dns.gardener.cloud
  resources:
  - dnsentries
  verbs:
  - get
  - list
  - update
  - watch
  - create
  - delete
{{- end}}
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - get
  - list
  - update
  - create
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "clusterRoleName" . }}
  labels:
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "clusterRoleName" . }}
subjects:
{{- if .Values.deployEmbedded }}
- kind: ServiceAccount
  name: {{ default .Chart.Name .Values.nameOverride | trunc 63 | trimSuffix "-" }}
  namespace: {{ .Release.Namespace }}
{{- else }}
- kind: ServiceAccount
  name: {{ .Values.shootAccessServiceAccountName }}
  namespace: kube-system
{{- end }}
